body {
    background-color: white;
    color: black
}

.darkMode{
    background-color: #121212;
    color: white;
}

.lightTable{
    border: solid black 1px;
}

.darkTable{
    border: solid white 1px
}

#tabBar {
    background-color: darkblue;
    height: 50px;
}

.tabButton{
    color: white;
    background-color: darkblue;
    width: 80px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.activeTabButton{
    color: white;
    background-color: cornflowerblue;
    width: 80px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.tabButton:hover{
    background-color: cornflowerblue;
}

.tabButton:disabled{
    background-color: grey;
}

#select{
    position: fixed; 
    bottom:0px;
    left:0px;
    margin:10px;
    background-color: grey;
    display:none;
    width: -moz-available;
    width: -webkit-fill-available;
}

@keyframes maxUpdateLight {
    from {color: lightgreen;}
    to {color: black}
}

@keyframes maxUpdateDark {
    from {color: lightgreen}
    to {color:white}
}
