body {
    background-color: white;
    color: black
}

.darkMode{
    background-color: #121212;
    color: white;
}

.lightTable{
    border: solid black 1px;
    background-color: lightgrey;
}

.darkTable{
    border: solid white 1px;
    background-color: #404040;
}

#tabBar {
    background-color: darkblue;
    height: 50px;
}

.tabButton{
    color: white;
    background-color: darkblue;
    width: 80px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.activeTabButton{
    color: white;
    background-color: cornflowerblue;
    width: 80px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: none;
}

.tabButton:hover{
    background-color: cornflowerblue;
    cursor: pointer;
}

.tabButton:disabled{
    background-color: grey;
}

#select{
    display:none;
    position: fixed; 
    width: 500px;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
}

.selectedFan{
    background-color: green;
}

@keyframes maxUpdateLight {
    from {color: lightgreen;}
    to {color: black}
}

@keyframes maxUpdateDark {
    from {color: lightgreen}
    to {color:white}
}

@keyframes bringUpSelect {
    from {bottom: -500px}
    to {bottom: 5px}
}

@keyframes bringDownSelect {
    from {bottom: 5px}
    to {bottom: -500px}
}

@keyframes sendToChatroom{
    from {bottom: 5px; left:50%; transform: translate(-50%);}
    to {}
}

#closeSelect {
    float:right;
    font-size: 32px;
    transform: translate(-5px,-5px);
}

#closeSelect:hover{
    color: black;
    cursor: pointer;
}